.main-button{
  width: 175px;
  height: 36px;
  margin: 8px 16px 8px 0px;
  padding: 0px 16px;
  font-size: 14px;
  border-radius: 18px;
  background-color: $buttons-background;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  @include flex-box(row,space-evenly, center);
}