nav {
  align-items: center;
  height: 64px;
  background-color: rgb(63, 81, 181);
  padding: 4px 16px;
  justify-content: space-between;
  display: flex;
  position: relative;
  z-index: 0;
  align-content: center;
}
.wired-font{
  font-size: 20px;
  @include flex-box(row, center, center);
}
.right-sec {
  @include flex-box(row, center, center);
  color:#008000
}

.edit-name {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin: 8px;
  border-width: 0;
  padding: 0;
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%),
    0 1px 18px 0 rgb(0 0 0 / 12%);
}

.white {
  color: #ffffff;
}

.profile-name {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.sign-out {
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%),
    0 1px 18px 0 rgb(0 0 0 / 12%);
  font-size: 12px;
  height: 28px;
  width: 111.5px;
  padding: 0px 12.5px;
  margin: 14px 8px;
  background-color: $secondary-color
}
.title {
  @include flex-box(row, flex-start, center);
}
.sign-out-icon {
  size: 18px 18px;
}
.edit-name-overlay {
  background-color: $white;
  width: 800px;
  height: 268px;
}
.edit-name-title {
  background-color: $primary-color;
  color: $white;
  height: 48px;
  padding: 0px 16px;
  @include flex-box(row, space-between, center);
}
.account-info {
  margin-left: 5px;
}
.edit-name-form {
  padding: 16px;
  @include flex-box(column, space-between, center);
}
.edit-button {
  height: 36px;
  width: 66px;
  color: $white;
  background-color: $secondary-color;
  margin-left: 30px;
  margin-top: 5px;
  border-radius: 5px;
}
.input {
  @include flex-box(row, space-evenly, center);
}
.save-reset-buttons {
  @include flex-box(row, space-between, center);
}
.reset {
  background-color: #ff5252;
}
.save {
  background-color: $secondary-color;
}
.button {
  width: 100px;
  height: 36px;
  font-size: 12px;
  @include flex-box(row, center, center);
  border-radius: 5px;
}
.text-field{
  width: 620px;
  height: 40px;
}
.first{
  margin-top: 0px;
  padding-top: 0px;
}
.second{
  margin-top: 10px;
  padding-top: 0px;
}